<script type="text/javascript">
  RED.nodes.registerType('eDocuGetElement', {
    category: 'eDocu',
    defaults: {
      server: { value: "", required: true, type:"eDocuServer" },
      uid: { value: '', required: true },
      elementType: { value: '', required: true },
      hash: { value: '', required: true  },
      accept: { value: '' },
      query: { value: '' },
      jwt: { value: '' },
    },
    inputs: 1, 
    outputs: 1,
    label: function () {
      if (this.server) {
        return "eDocu server"
      }
      return "no url specified";
    }
  });
</script>

<script type="text/x-red" data-template-name="eDocuGetElement">
  <div class="form-row">
    <label for="node-input-server"><i class="fa fa-tag"></i> Server</label>
    <input type="text" id="node-input-server" placeholder="server">
  </div>

  <div class="form-row">
    <label for="node-input-uid"><i class="fa fa-tag"></i> Uid</label>
    <input type="text" id="node-input-uid" placeholder="uid">
  </div>

  <div class="form-row">
    <label for="node-input-elementType"><i class="fa fa-tag"></i> Element type</label>
    <input type="text" id="node-input-elementType" placeholder="element yype">
  </div>

  <div class="form-row">
    <label for="node-input-hash"><i class="fa fa-tag"></i> Hash</label>
    <input type="text" id="node-input-hash" placeholder="hash">
  </div>

  <div class="form-row">
    <label for="node-input-accept"><i class="fa fa-tag"></i> Accept</label>
    <input type="text" id="node-input-accept" placeholder="accept">
  </div>

  <div class="form-row">
    <label for="node-input-query"><i class="fa fa-tag"></i> Query</label>
    <input type="text" id="node-input-query" placeholder="query">
  </div>

  <div class="form-row">
    <label for="node-input-jwt"><i class="fa fa-tag"></i> Jwt</label>
    <input type="text" id="node-input-jwt" placeholder="jwt">
  </div>
         
</script>

<script type="text/x-red" data-help-name="eDocuGetElement">
    <p>Úlohou tohto komponentu je uchovávať globálnu konfiguráciu pre eDocu server so službami.</p>
    <p>Hodnoty pre <b>Server.Url</b>, <b>Server.GetElementUrl</b>, <b>ElementType</b>, <b>Hash</b> dávajte bez úvodných a ukončovacích lomítok ! </p>
    <ul>
      <li> <b>Server: Povinný</b> Nastavenie konfiguračného uzla pre eDocu server (type: eDocuServer).</li>
      <li> <b>Uid: Povinný</b> Identifikácia užívateľa pod ktorým sa vykonáva dotaz.</li>
      <li> <b>ElementType: Povinný</b> ElementType elementu ktorý sa má načítať.</li>
      <li> <b>Hash: Povinný</b> Hash elementu ktorý sa má načítať.</li>

      <li> <b>Accept</b> Požadovaný výstupný formát údajov v elemente. Ak je zadaný, tak sa pridá do HTTP requestu ako hlavička `Accept`.</li>
      <li> <b>Query: Povinný</b> Dodatočné query parametre. Ak su zadané, tak sa pridajú do URL requesty ako query segment za `?`.</li>
      <li> <b>Server: Povinný</b> Nastavenie konfiguračného uzla pre eDocu server (type: eDocuServer).</li>
    </ul>
</script>